/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

.bodyDark {
	/* background-color: #212121; */
	background-color: #111f00;
	color: white;
	/* background-color: #ffffff; */
}

.bodyLight {
	/* background-color: #ededed; */
	/* background-color: #fff; */
	background-color: #f4ffe9;
	color: black;
}

.sectionDark {
	/* background-color: #424549; */
	background-color: #444841;
}

.sectionLight {
	/* background-color: #ffffff; */
	background-color: #ffffff;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.dostImg {
	/* height: calc(1rem + 1.5vw); */
	height: 38px;
}
/* hero image
00927d - dark green
aefe14 - light green
026cc3 - dark blue
00ffff - light bluelandingText
39ff14 - neon green
82ff06 - another neon green  */

/* Landing Section */

#landing {
	height: 120vh;
	background: linear-gradient(to top left, #026cc3, #82ff06);
	/* background: linear-gradient(to top left, #026cc3, #82ff06); */
	/* background-image: linear-gradient(
      112.5deg,
      rgba(2, 108, 195, 0.7) 0%,
      rgba(2, 108, 195, 0.6) 10%,
      rgba(2, 108, 195, 0.5) 25%,
      rgba(2, 108, 195, 0.4) 40%,
      rgba(2, 108, 195, 0.3) 53%,
      rgba(2, 108, 195, 0.2) 65%,
      rgba(2, 108, 195, 0.1) 75%,
      rgba(130, 255, 6, 0.1) 75%,
      rgba(130, 255, 6, 0.3) 85%,
      rgba(130, 255, 6, 0.5) 95%,
      rgba(130, 255, 6, 0.7) 100%
    ),
    linear-gradient(
      157.5deg,
      rgba(10, 136, 196, 0.7) 0%,
      rgba(10, 136, 196, 0.6) 10%,
      rgba(10, 136, 196, 0.5) 25%,
      rgba(10, 136, 196, 0.4) 40%,
      rgba(10, 136, 196, 0.3) 53%,
      rgba(10, 136, 196, 0.2) 65%,
      rgba(10, 136, 196, 0.1) 75%,
      rgba(130, 255, 6, 0.1) 75%,
      rgba(130, 255, 6, 0.3) 85%,
      rgba(130, 255, 6, 0.5) 95%,
      rgba(130, 255, 6, 0.7) 100%
    ),
    linear-gradient(
      135deg,
      rgba(15, 164, 239, 0.7) 0%,
      rgba(15, 164, 239, 0.6) 10%,
      rgba(15, 164, 239, 0.5) 25%,
      rgba(15, 164, 239, 0.4) 40%,
      rgba(15, 164, 239, 0.3) 53%,
      rgba(15, 164, 239, 0.2) 65%,
      rgba(15, 164, 239, 0.1) 75%,
      rgba(130, 255, 6, 0.1) 75%,
      rgba(130, 255, 6, 0.3) 85%,
      rgba(130, 255, 6, 0.5) 95%,
      rgba(130, 255, 6, 0.7) 100%
    ),
    linear-gradient(90deg, rgba(2, 108, 195, 0.7), rgba(130, 255, 6, 0.7));

  background-blend-mode: overlay, overlay, overlay, normal; */
	/* 1 effect */
	/* background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal; */

	/* 2nd effect */
	/* background-image: linear-gradient(
      112.5deg,
      rgb(180, 180, 180) 0%,
      rgb(180, 180, 180) 10%,
      rgb(160, 160, 160) 10%,
      rgb(160, 160, 160) 53%,
      rgb(140, 140, 140) 53%,
      rgb(140, 140, 140) 55%,
      rgb(120, 120, 120) 55%,
      rgb(120, 120, 120) 60%,
      rgb(100, 100, 100) 60%,
      rgb(100, 100, 100) 88%,
      rgb(80, 80, 80) 88%,
      rgb(80, 80, 80) 91%,
      rgb(60, 60, 60) 91%,
      rgb(60, 60, 60) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(180, 180, 180) 0%,
      rgb(180, 180, 180) 10%,
      rgb(160, 160, 160) 10%,
      rgb(160, 160, 160) 53%,
      rgb(140, 140, 140) 53%,
      rgb(140, 140, 140) 55%,
      rgb(120, 120, 120) 55%,
      rgb(120, 120, 120) 60%,
      rgb(100, 100, 100) 60%,
      rgb(100, 100, 100) 88%,
      rgb(80, 80, 80) 88%,
      rgb(80, 80, 80) 91%,
      rgb(60, 60, 60) 91%,
      rgb(60, 60, 60) 100%
    ),
    linear-gradient(
      135deg,
      rgb(180, 180, 180) 0%,
      rgb(180, 180, 180) 10%,
      rgb(160, 160, 160) 10%,
      rgb(160, 160, 160) 53%,
      rgb(140, 140, 140) 53%,
      rgb(140, 140, 140) 55%,
      rgb(120, 120, 120) 55%,
      rgb(120, 120, 120) 60%,
      rgb(100, 100, 100) 60%,
      rgb(100, 100, 100) 88%,
      rgb(80, 80, 80) 88%,
      rgb(80, 80, 80) 91%,
      rgb(60, 60, 60) 91%,
      rgb(60, 60, 60) 100%
    ),
    linear-gradient(90deg, rgb(160, 160, 160), rgb(193, 193, 193));
  background-blend-mode: overlay, overlay, overlay, normal; */
	/* 3rd effect */
}

.landingImg {
	height: calc(14rem + 1.5vw);
	/* filter: drop-shadow(0px 9px 8px rgba(114, 114, 114, 0.788)); */
	/* filter - shadow effect thingy */
}

.landingText {
	font-family: Signika Negative;
	color: white;
	/* color: rgb(46, 46, 46); */
	font-size: 2rem;
}

#landingRow {
	height: 50vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#landingRowButton {
	padding-top: 15vh;
}

.typewriterLanding {
	opacity: 1;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: normal; /* Adjust as needed */
	animation: typing 4s steps(29, end);
	animation-timing-function: ease-in-out;
	will-change: transform;
}
/* Navbar */
.navbar {
	background: linear-gradient(to top left, #026cc3, #82ff06);
}

/* .nav-link {
  font-family: 'EB Garamond';
} */

/* User icon */
.lightDark {
	height: 22px;
	opacity: 0.6;
}

.lightDark:hover {
	opacity: 0.8;
}

/* Section */
.section {
	margin-top: 2vh;
	padding-top: 2vh;
	min-height: 102vh;
}

.sectionImg {
	border-radius: 25px;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	box-shadow: 0 0 30px #82ff06;
}

.sectionArrow {
	height: 4.5vh;
	opacity: 0.6;
}

.sectionArrow:hover {
	opacity: 0.8;
}

.sectionArrow:active {
	opacity: 1;
}

.sectionArrowBox {
	padding-top: 2vh;
}

.textContent {
	font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
		ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica,
		arial, sans-serif;
	/* font-family : Verdana,Geneva,sans-serif; */
	text-align: justify;
	font-size: 1.5rem;
	margin-top: 3vh;
}

.aboutTextContent {
	font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
		ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica,
		arial, sans-serif;
	text-align: justify;
	font-size: 1.1rem;
	margin-top: 3vh;
}

.aboutTextContentLi {
	font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
		ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica,
		arial, sans-serif;
	text-align: justify;
	font-size: 1.1rem;
}

/* Footer */
.Footer {
	margin-top: 10vh;
	background-color: #282b30;
	color: white;
}

/* a {
  text-decoration: none;
} */

.footerImg {
	height: 30px;
}

.footerButton {
	background-color: #282b30;
	font-size: 14px;
	border-color: #82ff06;
}

.footerButton:hover {
	background-color: #00927d;
}

.footerContent {
	color: white;
	text-decoration: none;
	opacity: 0.6;
}

.footerContent:hover {
	opacity: 1;
}

.footerInstaContent {
	color: white;
	text-decoration: none;
	opacity: 0.7;
}

.footerInstaContent:hover {
	opacity: 1;
}

.footerActive {
	opacity: 1;
}

.userButton {
	background: linear-gradient(to top left, #026cc3, #82ff06);
	color: #ffffff;
	width: 15vw;
	border-width: 0px;
}

.userButton:hover {
	animation: 0.3s anim-Login ease-in-out forwards;
	color: #ffffff;
}

.loginForm {
	border-width: 0px;
}
.registerForm {
	border-width: 0px;
}

.darkPlaceholder::-webkit-input-placeholder {
	color: #ffffff85;
}

.loginLink {
	text-decoration: none;
	opacity: 0.8;
}

.loginLink:hover {
	opacity: 1;
}

#rememberMeCheck:checked {
	background-color: #82ff06;
}

/* Account */

#dp {
	width: 15vw;
}

.accForm {
	max-width: 700px;
}

#saveNewPass:active,
#saveNewPass:hover,
#newsletterCheck:checked {
	background-color: #82ff06;
}

#accPasswordCollapse {
	width: 40px;
}

.otp {
	max-width: 60px;
	min-width: 30px;
	width: 100%;
	padding: 10% 0% 10% 0%;
}

#deleteAccount {
	background-color: #282b3000;
	font-size: 14px;
	border-color: #ff0000;
}

#deleteAccount:hover {
	background-color: #921800;
	color: white;
}

@keyframes anim-Login {
	0% {
		width: 15vw;
	}
	100% {
		width: 25vw;
	}
}

/* Text animations   */

/* Your Personal Voice Assistant text animation */
/* lineup class and keyframes (Outsourced)*/
.lineUp {
	animation: 4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}
	20% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slide-in {
	0% {
		left: -100%; /* Start position */
	}
	100% {
		left: 0; /* End position */
	}
}

/* Image animation for landing */
.fade-in {
	opacity: 0;
	animation: fade 3s forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Breakpoints */

@media only screen and (max-width: 576px) {
	.landingImg {
		max-width: 85vw;
		height: auto;
		/* filter: drop-shadow(0px 5px 4px rgba(114, 114, 114, 0.788)); */
		/* filter - shadow effect thingy */
	}
	.landingText {
		font-size: 1.2rem;
	}
	.landingHead {
		font-size: calc(5.5rem + 1.5vw);
	}
	#landingRow {
		padding-bottom: 0vh;
	}
	.section {
		height: auto;
	}
	.sectionImg {
		/* width: calc(27rem); */
		width: 80%;
	}
	.sectionText {
		padding-bottom: 5vh;
	}
	.textContent {
		font-size: 1.1rem;
	}
	.aboutTextContent {
		font-size: 1.1rem;
	}
	.aboutTextContentLi {
		font-size: 1rem;
	}
	#downloadHover {
		background-color: inherit;
	}
	#downloadHover > li > a:hover {
		background-color: inherit;
	}
	#downloadHover > li > a:focus {
		background-color: inherit;
	}
	.userButton {
		min-width: 25vw;
	}
	#dp {
		width: 35vw;
	}
}

@media only screen and (min-width: 577px) {
	.landingImg {
		height: calc(11rem + 1.5vw);
	}
	.landingHead {
		font-size: calc(7rem + 1.5vw);
	}
	.sectionImg {
		width: 70%;
	}
	.textContent {
		font-size: 1.2rem;
	}
	.aboutTextContent {
		font-size: 1.2rem;
	}
	.aboutTextContentLi {
		font-size: 1rem;
	}
	#downloadHover {
		background-color: inherit;
	}
	#downloadHover > li > a:hover {
		background-color: inherit;
	}
	#downloadHover > li > a:focus {
		background-color: inherit;
	}
	#dp {
		width: 22vw;
	}
}

@media only screen and (min-width: 768px) {
	.landingImg {
		height: calc(14rem + 1.5vw);
	}
	.landingHead {
		font-size: calc(8rem + 1.5vw);
	}
	.sectionImg {
		width: calc(13rem + 13.5vw);
	}
	.textContent {
		font-size: 1.25rem;
	}
	.aboutTextContent {
		font-size: 1.25rem;
	}
	.aboutTextContentLi {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width: 992px) {
	.sectionImg {
		width: calc(19rem + 8vw);
	}
	.textContent {
		font-size: 1.4rem;
	}
	.aboutTextContent {
		font-size: 1.4rem;
	}
	.aboutTextContentLi {
		font-size: 1.4rem;
	}
	.dropdown:hover > .dropdown-menu {
		display: block;
	}

	.dropdown > .dropdown-toggle:active {
		/*Without this, clicking will make it sticky*/
		pointer-events: none;
	}

	#downloadHover {
		background-color: #212121;
	}
	#downloadHover > li > a:hover {
		background-color: #212121;
	}
	#downloadHover > li > a:focus {
		background-color: #212121;
	}
	#dp {
		width: 16vw;
	}
}

@media only screen and (min-width: 1200px) {
	.sectionImg {
		width: calc(19rem + 11vw);
	}
	.textContent {
		font-size: 1.6rem;
	}
	.aboutTextContent {
		font-size: 1.6rem;
	}
	.aboutTextContentLi {
		font-size: 1.5rem;
	}
	#dp {
		width: 14vw;
	}
}

#criteria {
	margin-top: 10px;
	color: red;
}

.loginForm .registerForm :focus {
	border-color: green;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 255);
}

.accForm {
	border-width: 0px;
	background-color: inherit;
}

.innerEle {
	display: inline;
	color: red;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/* Home page stuff */

.section h1 {
	opacity: 0;
}

.typewriter h1 {
	opacity: 1;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: normal; /* Adjust as needed */
	animation: typing 4s;
	animation-timing-function: ease-in-out;
	will-change: transform;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.hideTextOdd,
.hideTextEven,
.hideImg {
	opacity: 0;
	transition: all 1s ease-in-out;
	transition-delay: 1000ms;
	will-change: opacity, transform;
}

.hideImg {
	filter: blur(5px);
	transform: translateY(100%);
	transition-delay: 500ms;
}

.showTextOdd,
.showTextEven,
.showImg {
	opacity: 1;
	will-change: auto;
}

.showImg {
	filter: blur(0px);
	transform: translateY(0%);
}
